@model MusicStore.Models.Album

<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">今日促销：@Model.Title</h3>
    </div>
    <div class="panel-body">
        <p>
            <img alt="@Model.Title" src="@Url.Content(@Model.AlbumArtUrl)" />
        </p>

        <div id="album-details">
            <p>
                <em>歌手：</em>
                @Model.Artist.Name
            </p>
            <p>
                <em>价格：</em>
                @String.Format("{0:f}", Model.Price)
            </p>
            @*使用了非标准ActionLink,单击将离开Index页面，单击该连接会向DailyDeal方法发送一异步请求*@
            @Html.ActionLink("添加至购物车", "youhuijia",
                             "ShoppingCart",
                             new { id = Model.AlbumId },
                             new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
